!!!
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ iste_title }
    link(rel="stylesheet", href="/assets/css/app.css")
    link(rel="alternate", type="application/rss+xml", title="#{ site_title } RSS", href="/rss.xml")
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")

    != yield

    hr

    footer
      .container
        .row
          .col-sm-6
            p: small &copy; 2013 #{ site_title }
          .col-sm-6
            p.pull-right
              small: a(href="/rss.xml", title="#{ site_title } RSS feed")
                img.rss-feed(src="/assets/images/feed-icon.png")
                |  RSS feed

    script(src="/assets/js/bootstrap.min.js")
    script(src="/assets/js/app.js")
