section.hero#top
  img.hero-logo(src='assets/img/logo.svg', alt='Good Citizen')
  //- h1.hero-title We create compelling digital experiences that put people first.
  h1.hero-title We work with companies to solve their problems by designing solutions for their customer's problems.
  p.hero-tagline Let's face it, you want your business to be successful and good design is good for business. See <a href="#what">what</a> we can do for you, <a href="#how">how</a> we go about it, and <a href="#who">who</a> you would work with.

img.pic-divider.pic-divider-1(src='assets/img/pic-1.jpg')

section#what.content.content-what
  h2 What do we do?
  p We get asked this a lot. Single taglines and elevator statements can sound hollow and contrived. So here is the longer explanation…
  p Good Citizen is a digital <em class="text-muted">(design and development)</em> studio. Actually, Good Citizen is primarily me, John Peele. I partner with like-minded designers and marketers in an Avengers model. We assemble the perfect team to solve the problem at hand.
  p We believe in the power of design thinking to solve human problems. We love creating digital products and services that people enjoy and that bring delight. Obviously, we're into design and technology, we wouldn't be able to create engaging new experiences if we weren't, but we love people. People are the most important part of what we do, because we're here to solve problems for them and not just take up space. By focusing on strategy, design, and technology, we create experiences that meet the needs of our clients, and their customers, in ways that are delightful and unexpected.
  .services
    h3 Services
    .row
      .service-list.column.one-third
        h5 Strategy
        ul
          li Digital Strategy
          li Product Strategy
          li Content Strategy
          li User Research
          li One-on-One Consulting
      .service-list.column.one-third
        h5 Design
        ul
          li User Experience Design
          li Interface Design
          li Multi-device Web Design (Responsive)
          li Mobile Design
      .service-list.column.one-third
        h5 Development
        ul
          li Front-end Development
          li Back-end Development
          li Web Application Development
          li Content Management Systems
          li E-commerce Systems
          li Email Campaign Systems
  .portfolio
    .row
      h3 Portfolio
      p Here's a few examples of our work, we can't show you everything we've done because we often work under NDA. We can say that last year we launched more than 50 projects.
      each item, slug in public.portfolio._data
        a.portfolio-item(href="#{ item.project_url }", target="_blank")
          img(src="#{ item.img_url }")
          .portfolio-info
            h5 #{ item.title }
            h6 #{ item.description }
            p View project &rarr;

img.pic-divider.pic-divider-2(src='assets/img/pic-2.jpg')

section#how.content.content-how
  :markdown
    ## How do we do it?
    ### We do it Together
    We're solving problems and creating products for you and your customers, so we want to know how you think, how you work, and what you need. So, communication is key. We're going to ask a lot of questions, so that we can deliver what you need even if its not what you expected. Unlike a traditional agency, we don’t silo our strategists from the designers, from the developers. Everyone, including you, is creative. Every discipline contributes to the process of designing the best solution, and we do that in an iterative fashion that allows us to stay put until that solution comes to light.
    ### We do it Content First.
    Our web products are designed to be effective. We're here to help you communicate to your audience. So, we shape designs around what you are communicating, your content. Content-first is more than just gathering and creating your content first, it puts the content on center stage. We strategize, design and develop around that primary thing that your customers are coming for.
    ### We do it Future Friendly
    Smartphones and tablets are quickly dominating the internet, but there is no longer the guarantee that we will know exactly what type of device people are using to access your content. So we design and build products that look and work great no matter what device you're using.
    ### We do it Iteratively
    Gone are the days when designers locked themselves away to do their thing and then tossed it over the wall for the developers to &ldquo;make it happen&rdquo;. Great design is the differentiator in any successful product or service and design is the work that we all do together. Great design is not just what you see, but the result of constant iteration and evolution. We use things like [element collages](http://danielmall.com/articles/rif-element-collages/), [style tiles](http://styletil.es/), [style prototypes](http://sparkbox.github.io/style-prototype/), moodboards, and [visual inventories](http://danielmall.com/articles/visual-inventory/), [project hubs](http://project-hub.superfriend.ly/), [atomic design patterns](http://patternlab.io/), and wireframe prototypes in order to work out the details and find the best solution.

img.pic-divider.pic-divider-3(src='assets/img/pic-3.jpg')

section#who.content.content-who
  :markdown
    ## Who we are
    We are a small team of storytellers, designers, strategists, coders and marketers all working together to bring out the best in your brand and your product. We each have our individual strengths, but we assemble on a regular basis to save the world for our customers.
  .row
    .column.one-third
      h3 Our Team
    .team.column.two-thirds
      each item, slug in public.team._data
        .team-member
          img(src="#{ item.img_url }")
          .team-member-info
            h5 #{ item.name }
            h6 #{ item.title }
            p #{ item.superpower }

section#work-together.content.content-work-together
  h2 Hi, we'd love to work together, or just connect
  p In order to learn how we can do this quickly and effectively, we would like to ask you a few questions...
  .form-fail
    :markdown
      ### Oops!
      Something went wrong.
  .form-wrap
    form#project-planner(action='http://forms.wearegoodcitizen.com/contact/new',method='post', novalidate='novalidate', data-parsley-validate)
      .form-control-group
        label(for='name') Your name
        input(type='text', name='name', required='required', data-parsley-trigger='change', data-parsley-error-message='We need to know what to call you.')
      .form-control-group
        label(for='email') Email
        input(type='email', name='email', required='required', data-parsley-trigger='change', data-parsley-error-message='We need a valid email address here.')
      .form-control-group.form-control-select
        label(for='budget') Budget
        select.select-styled(name='budget', required='required', data-parsley-error-message='Knowing your budget is very important to us.')
          option(value='less than $10k') less than $10k
          option(value='$10k-$20k', selected='selected') $10k-$25k
          option(value='$25k-$50k') $25k-$50k
          option(value='$50k+') $50k+
          option(value='Not Sure') Not Sure
        small Really, we're not asking because we want to spend it all. We work within a set of given constraints and your budget is one of them. If you have an idea of what you want to spend on a project it makes it much easier to recommend an approach.
      .form-control-group
        label(for='message') Message
        textarea(type='text', name='message', rows='10', value='', placeholder="A brief overview of your project goals and requirements will give us a better idea of what's in store, and will help us ask you the right questions when we talk.", required='required', data-parsley-trigger='change', data-parsley-error-message='Looks like you forgot to include your message.')
      input.form-button(type='submit', value='Submit')
  .form-success
    :markdown
      ### Thank you!
      We look forward to speaking with you soon.
